#map {
    width: 70%;        
    height: 500px;
    display: inline-block;
}
#panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}
