#map {
    width: 70%;        
    height: 500px;
    display: inline-block;
}
#panel {
    width: 25%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}
#Layer_1 {
    color: aqua;
}
.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 35px;  
    text-align: start;  
    border: solid gray 1px;  
}  
.legend-control-container {  
    width: 200px;  
    height: 200px;  
    background-color: rgba(255,255,255,0.8);  
    line-height: 35px;  
    text-align: center;  
    font-weight: 600;
    font-size: 13px;
    border: solid gray 1px;  
}  

.range-slider {
    width: 55%;
}

.step {
	width: 20%;
}

.step img {
	width: 100%;
}


#forward {
    float: right;
}

#reverse {
    float: left;
}

